services:
  - type: web
    name: uni360
    env: python
    region: oregon
    plan: free
    branch: main
    buildCommand: "./build.sh"
    startCommand: "gunicorn core.core.wsgi:application"
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
      - key: ALLOWED_HOSTS
        value: "*"
      - key: DATABASE_URL
        value: postgresql://postgres:[YOUR_PASSWORD]@db.nvldqqitjevixdcoxgnu.supabase.co:5432/postgres
